<launch>
   <!-- Card detection/localization -->
  <node name="cam_listener" pkg="vision" type="vision_node.py" />
  <include file="$(find lab4_cam)/launch/ar_track.launch"/>
  <node name="twod_to_3d" pkg="vision" type="2d_to_3d.py"/>

  <!-- Launch moveit -->
  <node name="action_client" pkg="baxter_interface" type="joint_trajectory_action_server.py"/>
  <include file="$(find baxter_moveit_config)/launch/demo_baxter.launch">
  </include>
</launch>
